[build]
command = "pnpm build"

# Build directory
publish = "build"


[functions]

# Include all of the JSON and static files
included_files = ["src/lib/data/**/*.json", "static/**"]


[[headers]]
for = "/*"

[headers.values]
Content-Security-Policy = "frame-ancestors 'none'"
Referrer-Policy = "strict-origin-when-cross-origin"
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
